.selectedWork {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 54px;
    position: relative;
    margin-bottom: 54px;
}

.textWrapper {
    align-self: stretch;
    color: #000000;
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    font-style: var(--h1-font-style);
    font-weight: var(--h1-font-weight);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    margin-top: -1px;
    position: relative;
}

.project {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 54px;
    position: relative;
    width: 100%;
}

.div {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    position: relative;
    width: 100%;
}

.frame2 {
    align-self: stretch;
    background-color: #000000;
    height: 456px;
    position: relative;
    width: 100%;
}

.frame3 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #000000;
}

.textWrapper2 {
    align-self: stretch;
    color: #000000;
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
    font-style: var(--h3-font-style);
    font-weight: var(--h3-font-weight);
    letter-spacing: var(--h3-letter-spacing);
    line-height: var(--h3-line-height);
    margin-top: -1px;
    position: relative;
}

.textWrapper3 {
    align-self: stretch;
    color: #000000;
    font-family: var(--h4-font-family);
    font-size: var(--h4-font-size);
    font-style: var(--h4-font-style);
    font-weight: var(--h4-font-weight);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    position: relative;
}

.p {
    align-self: stretch;
    color: #000000;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    margin-top: -1px;
    position: relative;
}

.textWrapper4 {
    align-self: stretch;
    color: #000000;
    font-family: var(--CTA-font-family);
    font-size: var(--CTA-font-size);
    font-style: var(--CTA-font-style);
    font-weight: var(--CTA-font-weight);
    letter-spacing: var(--CTA-letter-spacing);
    line-height: var(--CTA-line-height);
    position: relative;
    text-decoration: underline;
}

.line {
    align-self: stretch;
    height: 2px;
    position: relative;
    width: 100%;
}