.heroSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 54px;
    position: relative;
    margin-bottom: 54px;
}

.textWrapper {
    align-self: stretch;
    color: #000000;
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-style: var(--title-font-style);
    font-weight: var(--title-font-weight);
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    position: relative;
    text-align: center;
}

.frame {
    align-self: stretch;
    background-color: #000000;
    height: 740px;
    position: relative;
    width: 100%;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #000000;
}

@media (max-width: 1330px) {
    .textWrapper {
        font-size: 96px;
    }

}

@media (max-width: 1024px) {
    .textWrapper {
        font-size: 64px;
    }

}

@media (max-width: 768px) {
    .heroSection {
        gap: 32px;
        margin-bottom: 32px;
    }

    .textWrapper {
        font-size: var(--title-font-size);
        font-weight: var(--title-font-weight);
    }

    .frame {
        height: 400px;
    }
}